root = true

[*]
end_of_line              = lf
# We relax this rule because many files don't end with a newline,
# and it causes unwanted diffs in compliant editors.
insert_final_newline     = unset
trim_trailing_whitespace = true
charset                  = utf-8

[*.lua]
indent_style             = space
indent_size              = 2

[kong/templates/nginx*]
indent_style             = space
indent_size              = 4

[*.template]
indent_style             = space
indent_size              = 4

[Makefile]
indent_style             = tab

[bin/kong]
indent_style             = space
indent_size              = 2

[bin/busted]
indent_style             = space
indent_size              = 2

[bin/kong-health]
indent_style             = space
indent_size              = 2
