.DS_Store
.vagrant/
.buildpath
.project
.idea
.env

servroot*

# kong
nginx_tmp/
kong*.yml

# luacov
luacov.*
/doc

# autodoc
autodoc/output

# ldoc
spec/docs

kong-build-tools
bin/grpcurl

*.so
*.bak
There are more tests that could benefit from this approach, but these were failing right now.

