[submodule "distribution/kong-licensing"]
	path = distribution/kong-licensing
	url = git@github.com:Kong/kong-licensing.git
[submodule "distribution/kong-gql"]
	path = distribution/kong-gql
	url = git@github.com:Kong/kong-gql.git
[submodule "distribution/lua-resty-openapi3-deserializer"]
	path = distribution/lua-resty-openapi3-deserializer
	url = git@github.com:Kong/lua-resty-openapi3-deserializer.git
[submodule "distribution/lua-resty-jsonschema-rs"]
	path = distribution/lua-resty-jsonschema-rs
	url = git@github.com:Kong/lua-resty-jsonschema-rs.git
[submodule "distribution/lua-resty-json-threat-protection"]
	path = distribution/lua-resty-json-threat-protection
	url = git@github.com:Kong/lua-resty-json-threat-protection.git
