.DS_Store
.vagrant/
.buildpath
.project
.idea
.docker
.env
.vscode
.VSCodeCounter

servroot*
mockserver

# kong
nginx_tmp/
kong*.yml

# luacov
luacov.*
/doc

# autodoc
autodoc/output

# ldoc
spec/docs

# migration output
migration-reports/

kong-build-tools
bin/grpcurl

*.so
*.bak
*.rock

bazel-*

# pongo shell history
.ash_history
.bash_history

worktree/
bin/bazel
bin/h2client

# wasm
*.wasm
spec/fixtures/proxy_wasm_filters/build
spec/fixtures/proxy_wasm_filters/target
