[submodule "distribution/kong-gql"]
	path = distribution/kong-gql
	url = git@github.com:Kong/kong-gql.git
[submodule "distribution/lua-resty-openapi3-deserializer"]
	path = distribution/lua-resty-openapi3-deserializer
	url = git@github.com:Kong/lua-resty-openapi3-deserializer.git
