language: erlang

env:
  matrix:
    - LUA=lua5.1

branches:
  only:
    - master

before_install:
  - bash .travis/setup_lua.sh
  - bash .travis/setup_openresty.sh
  - export PATH=$PATH:/usr/local/openresty/nginx/sbin
  - bash .travis/setup_cassandra.sh

install:
  - sudo make install
  - sudo make dev

script: "busted --coverage spec/"

after_success: "cat nginx_tmp/logs/error.log"
