sudo: false
notifications:
  email: false
addons:
  apt:
    packages:
      - sed
      - net-tools
      - uuid-dev
      - libpcre3-dev
      - build-essential
env:
  global:
    - LUA_VERSION=luajit-2.1
    - CASSANDRA_VERSION=2.2.4
    - LUAROCKS_VERSION=2.2.2
    - OPENSSL_VERSION=1.0.2e
    - OPENRESTY_VERSION=1.9.3.1
    - SERF_VERSION=0.7.0
    - LUAJIT_DIR=$HOME/luajit
    - LUAROCKS_DIR=$HOME/luarocks
    - OPENRESTY_DIR=$HOME/openresty
    - SERF_DIR=$HOME/serf
    - CASSANDRA_HOSTS=127.0.0.1
  matrix:
    - TEST_SUITE=unit
    - TEST_SUITE=integration
    - TEST_SUITE=plugins
before_install:
  - bash .ci/setup_lua.sh
  - bash .ci/setup_openresty.sh
  - bash .ci/setup_cassandra.sh
  - bash .ci/setup_serf.sh
  - export PATH="$LUAJIT_DIR/bin:$LUAROCKS_DIR/bin:$OPENRESTY_DIR/nginx/sbin:$SERF_DIR:$PATH"
  - export LUA_PATH="./?.lua;$LUAROCKS_DIR/share/lua/5.1/?.lua;$LUAROCKS_DIR/share/lua/5.1/?/init.lua;$LUAROCKS_DIR/lib/lua/5.1/?.lua;$LUA_PATH"
  - export LUA_CPATH="./?.so;$LUAROCKS_DIR/lib/lua/5.1/?.so;$LUA_CPATH"
install:
  - luarocks install busted
  - luarocks install luacov
  - luarocks install luacov-coveralls
  - luarocks install luacheck
  - luarocks make kong-*.rockspec
  - "kong config -c kong.yml -e TEST"
  - 'sed -i "2 i\dns_resolver: server" kong_TEST.yml'
script:
  - busted spec/integration/admin_api/cluster_routes_spec.lua
  - cat nginx_tmp/logs/error.log
cache:
  apt: true
  pip: true
  directories:
    - $LUAJIT_DIR
    - $LUAROCKS_DIR
    - $OPENRESTY_DIR
    - $SERF_DIR
    - $HOME/.ccm/repository
