dist: trusty
sudo: false

language: java

jdk:
  - oraclejdk8

notifications:
  email:
    on_success: never
    on_failure: always

services:
  - redis-server
  - docker

addons:
  postgresql: "9.5"
  apt:
    packages:
      - net-tools
      - libpcre3-dev
      - build-essential

env:
  global:
    - LUAROCKS=3.0.4
    - OPENSSL=1.1.1a
    - OPENRESTY_BASE=1.13.6.2
    - OPENRESTY_LATEST=1.13.6.2
    - OPENRESTY=$OPENRESTY_BASE
    - DOWNLOAD_CACHE=$HOME/download-cache
    - INSTALL_CACHE=$HOME/install-cache
    - KONG_TEST_PG_DATABASE=travis
    - KONG_TEST_PG_USER=postgres
    - JOBS=2
  matrix:
    # enterprise matrix begin
    # XXX add extra jobs for different cassandra versions
    - KONG_TEST_DATABASE=postgres TEST_SUITE=integration-ee
    - KONG_TEST_DATABASE=cassandra CASSANDRA=2.2 TEST_SUITE=integration-ee
    - KONG_TEST_DATABASE=cassandra CASSANDRA=3.9 TEST_SUITE=integration-ee
    - KONG_TEST_DATABASE=cassandra CASSANDRA=2.2 TEST_SUITE=plugins-ee
    - KONG_TEST_DATABASE=cassandra CASSANDRA=3.9 TEST_SUITE=plugins-ee
    - KONG_TEST_DATABASE=postgres TEST_SUITE=plugins-ee
    # enterprise matrix end
    - KONG_TEST_DATABASE=postgres TEST_SUITE=integration
    - KONG_TEST_DATABASE=cassandra CASSANDRA=2.2 TEST_SUITE=integration
    - KONG_TEST_DATABASE=cassandra CASSANDRA=3.9 TEST_SUITE=integration
    - KONG_TEST_DATABASE=postgres TEST_SUITE=plugins
    - KONG_TEST_DATABASE=cassandra CASSANDRA=2.2 TEST_SUITE=plugins
    - KONG_TEST_DATABASE=cassandra CASSANDRA=3.9 TEST_SUITE=plugins
    - TEST_SUITE=pdk

before_install:
  - source .ci/setup_env.sh

install:
  - make dev

cache:
  apt: true
  pip: true
  directories:
    - $DOWNLOAD_CACHE
    - $INSTALL_CACHE
    - $HOME/.ccm/repository

stages:
  - lint and unit
  - pdk tests
  - test
  - name: deploy
    if: tag =~ 0. || type == cron || branch = master

jobs:
  include:
    - stage: lint and unit
      script:
      - luacheck -q .
      - bin/busted -v -o gtest spec/01-unit
      - bin/busted -v -o gtest spec-ee/01-unit
      env:
        - KONG_DATABASE=none
    - stage: deploy
      if: branch = master
      script: .ci/build_artifacts.sh
      env:
        - DOCKER_TAG_NAME=dev-master
        - TEST_SUITE=none
    - stage: deploy
      if: tag =~ 0.
      script: .ci/build_artifacts.sh
      env:
        - DOCKER_TAG_NAME=released
        - TEST_SUITE=none
    - stage: deploy
      if: tag =~ 0.
      script: .ci/trigger-travis.sh --pro $TRAVIS_ACCESS_TOKEN

script:
  - .ci/run_tests.sh
