sudo: false

services:
  - redis-server

notifications:
  email: false

addons:
  postgresql: "9.4"
  apt:
    packages:
      - dnsmasq
      - net-tools
      - libpcre3-dev
      - build-essential

env:
  global:
    - SERF=0.7.0
    - LUAROCKS=2.3.0
    - OPENSSL=1.0.2f
    - CASSANDRA=2.2.4
    - OPENRESTY=1.9.7.3
    - $CACHE_DIR=$HOME/cache
  matrix:
    - TEST_SUITE=lint
    - TEST_SUITE=unit
    - TEST_SUITE=integration
    - TEST_SUITE=plugins

before_install:
  - source .ci/setup_env.sh

install:
  - make dev

script:
  - .ci/run_tests.sh

cache:
  apt: true
  pip: true
  directories:
    - $CACHE_DIR
    - $HOME/.ccm/repository
