dist: xenial
sudo: false

language: python

notifications:
  email: false

services:
  - redis-server
  - docker

addons:
  postgresql: "9.5"
  apt:
    packages:
      - net-tools
      - libpcre3-dev
      - build-essential

env:
  global:
    - LUAROCKS=2.4.3
    - OPENSSL=1.1.1
    - OPENRESTY_BASE=1.13.6.2
    - OPENRESTY_LATEST=1.13.6.2
    - OPENRESTY=$OPENRESTY_BASE
    - DOWNLOAD_CACHE=$HOME/download-cache
    - INSTALL_CACHE=$HOME/install-cache
    - JOBS=2
  matrix:
    - KONG_TEST_DATABASE=postgres TEST_SUITE=integration
    - KONG_TEST_DATABASE=cassandra CASSANDRA=2.2 TEST_SUITE=integration
    - KONG_TEST_DATABASE=cassandra CASSANDRA=3.9 TEST_SUITE=integration
    - KONG_TEST_DATABASE=postgres TEST_SUITE=plugins
    - KONG_TEST_DATABASE=cassandra CASSANDRA=2.2 TEST_SUITE=plugins
    - KONG_TEST_DATABASE=cassandra CASSANDRA=3.9 TEST_SUITE=plugins
    - KONG_TEST_DATABASE=postgres TEST_SUITE=old-integration
    - KONG_TEST_DATABASE=postgres TEST_SUITE=old-plugins
    - TEST_SUITE=pdk

before_install:
  - sudo iptables -P FORWARD ACCEPT
  - echo -e "machine github.com\n  login $CI_USER_TOKEN" > ~/.netrc
  - source .ci/setup_env.sh

install:
  - make dev

cache:
  apt: true
  pip: true
  directories:
    - $DOWNLOAD_CACHE
    - $INSTALL_CACHE
    - $HOME/.ccm/repository

jobs:
  include:
    - stage: lint and unit
      script:
      - luacheck -q .
      - bin/busted -v -o gtest spec/01-unit
      - bin/busted -v -o gtest spec-old-api/01-unit
      env:
        - KONG_DATABASE=none
    - stage: test
      script: .ci/run_tests.sh
    - stage: deploy
      if: tag =~ 0.
      install: skip
      before_install: skip
      script: .ci/trigger-travis.sh $TRAVIS_ACCESS_TOKEN
      env: KONG_DATABASE=none
    - stage: deploy daily build
      install: skip
      script: make release
      env: RESTY_IMAGE_BASE=ubuntu RESTY_IMAGE_TAG=trusty KONG_PACKAGE_NAME=${PWD##*/} KONG_VERSION=`date +%Y-%m-%d`
      if: type=cron
    - script: make release
      env: RESTY_IMAGE_BASE=ubuntu RESTY_IMAGE_TAG=xenial KONG_PACKAGE_NAME=${PWD##*/} KONG_VERSION=`date +%Y-%m-%d`
      if: type=cron
    - script: make release
      env: RESTY_IMAGE_BASE=centos RESTY_IMAGE_TAG=6 KONG_PACKAGE_NAME=${PWD##*/} KONG_VERSION=`date +%Y-%m-%d`
      if: type=cron
    - script: make release
      env: RESTY_IMAGE_BASE=centos RESTY_IMAGE_TAG=7 KONG_PACKAGE_NAME=${PWD##*/} KONG_VERSION=`date +%Y-%m-%d`
      if: type=cron
    - script: make release
      env: RESTY_IMAGE_BASE=alpine RESTY_IMAGE_TAG=latest KONG_PACKAGE_NAME=${PWD##*/} KONG_VERSION=`date +%Y-%m-%d`
      if: type=cron

script:
  - .ci/run_tests.sh

after_failure:
  - .ci/track_failures.sh
