language: erlang

env:
  global:
    - CASSANDRA_VERSION=2.1.11
  matrix:
    - LUA=lua5.1

before_install:
  - "bash .ci/setup_kong.sh"
  - "bash .ci/setup_cassandra.sh"

install:
  - "sudo make dev"

script:
  - "busted -o spec/busted-print.lua --coverage spec/"
  - "make lint"

after_success: "luacov-coveralls -i kong"
