dist: xenial

language: generic

jdk:
  - oraclejdk8

go:
  - "1.13.x"

notifications:
  email: false
  slack:
    if: branch = master OR branch = next
    secure: WfMWtoj88BvoWG1AqNQMZ0c9OqjseUaMIwgSpaP8SJ+H33NTMI7vMhbbMBN2ENRD8r2haV0A2D0fnHy/3GQi6ryzKsqR1Jw/c+J0QZXQgmuj51i9iKSOM42n59t9V/QuD5b2BmHt5T+1Q6jLxtgtqBKoaJk3+WE5Iz9l+f+v0Hs=

services:
  - redis-server
  - docker

addons:
  postgresql: "9.5"
  apt:
    packages:
      - net-tools
      - libpcre3-dev
      - build-essential
  hosts:
    - grpcs_1.test
    - grpcs_2.test

env:
  global:
    - INSTALL_CACHE=$HOME/install-cache
    - DOWNLOAD_ROOT=$HOME/download-root
    - KONG_TEST_PG_DATABASE=travis
    - KONG_TEST_PG_USER=postgres
    - JOBS=2
    - DOCKER_MACHINE_ARM64_NAME=travis-ci-kong-${TRAVIS_JOB_ID}
  matrix:
    - KONG_TEST_DATABASE=postgres TEST_SUITE=integration
    - KONG_TEST_DATABASE=cassandra CASSANDRA=2.2 TEST_SUITE=integration
    - KONG_TEST_DATABASE=cassandra CASSANDRA=3.9 TEST_SUITE=integration
    - KONG_TEST_DATABASE=off TEST_SUITE=dbless
    - KONG_TEST_DATABASE=postgres TEST_SUITE=plugins
    - KONG_TEST_DATABASE=cassandra CASSANDRA=2.2 TEST_SUITE=plugins
    - KONG_TEST_DATABASE=cassandra CASSANDRA=3.9 TEST_SUITE=plugins
    - TEST_SUITE=pdk

install:
  - source .ci/setup_env.sh
  - make dev

cache:
  apt: true
  directories:
    - $INSTALL_CACHE
    - $HOME/.ccm/repository

stages:
  - lint and unit
  - test
  - Release

jobs:
  include:
    - stage: lint and unit
      script:
      - luacheck -q .
      - scripts/autodoc-admin-api
      - bin/busted -v -o gtest spec/01-unit
      env:
        - KONG_DATABASE=none
    - stage: release
      install: skip
      script:
      - make setup-kong-build-tools
      - pushd ../kong-build-tools && make setup-ci && popd
      - make release
      env: PACKAGE_TYPE=src RESTY_IMAGE_BASE=src KONG_PACKAGE_NAME=${PWD##*/} KONG_VERSION=${TRAVIS_TAG}
      if: tag IS present AND tag ~= ^[0-9]+\.
    - script:
      - make setup-kong-build-tools
      - pushd ../kong-build-tools && make setup-ci && popd
      - make release
      env: PACKAGE_TYPE=deb RESTY_IMAGE_BASE=ubuntu RESTY_IMAGE_TAG=xenial KONG_PACKAGE_NAME=${PWD##*/} KONG_VERSION=${TRAVIS_TAG}
      if: tag IS present AND tag ~= ^[0-9]+\.
    - script:
      - make setup-kong-build-tools
      - pushd ../kong-build-tools && make setup-ci && popd
      - make release
      env: PACKAGE_TYPE=deb RESTY_IMAGE_BASE=ubuntu RESTY_IMAGE_TAG=bionic KONG_PACKAGE_NAME=${PWD##*/} KONG_VERSION=${TRAVIS_TAG}
      if: tag IS present AND tag ~= ^[0-9]+\.
    - script:
      - make setup-kong-build-tools
      - pushd ../kong-build-tools && make setup-ci && popd
      - make release
      env: PACKAGE_TYPE=deb RESTY_IMAGE_BASE=debian RESTY_IMAGE_TAG=stretch KONG_PACKAGE_NAME=${PWD##*/} KONG_VERSION=${TRAVIS_TAG}
      if: tag IS present AND tag ~= ^[0-9]+\.
    - script:
      - make setup-kong-build-tools
      - pushd ../kong-build-tools && make setup-ci && popd
      - make release
      env: PACKAGE_TYPE=deb RESTY_IMAGE_BASE=debian RESTY_IMAGE_TAG=jessie KONG_PACKAGE_NAME=${PWD##*/} KONG_VERSION=${TRAVIS_TAG}
      if: tag IS present AND tag ~= ^[0-9]+\.
    - script:
      - make setup-kong-build-tools
      - pushd ../kong-build-tools && make setup-ci && popd
      - make release
      env: PACKAGE_TYPE=deb RESTY_IMAGE_BASE=debian RESTY_IMAGE_TAG=buster KONG_PACKAGE_NAME=${PWD##*/} KONG_VERSION=${TRAVIS_TAG}
      if: tag IS present AND tag ~= ^[0-9]+\.
    - script:
      - make setup-kong-build-tools
      - pushd ../kong-build-tools && make setup-ci && popd
      - make release
      env: PACKAGE_TYPE=rpm RESTY_IMAGE_BASE=centos RESTY_IMAGE_TAG=6 KONG_PACKAGE_NAME=${PWD##*/} KONG_VERSION=${TRAVIS_TAG}
      if: tag IS present AND tag ~= ^[0-9]+\.
    - script:
      - make setup-kong-build-tools
      - pushd ../kong-build-tools && make setup-ci && popd
      - make release
      env: PACKAGE_TYPE=rpm RESTY_IMAGE_BASE=centos RESTY_IMAGE_TAG=7 KONG_PACKAGE_NAME=${PWD##*/} KONG_VERSION=${TRAVIS_TAG}
      if: tag IS present AND tag ~= ^[0-9]+\.
    - script:
      - make setup-kong-build-tools
      - pushd ../kong-build-tools && make setup-ci && popd
      - make release
      env: PACKAGE_TYPE=apk RESTY_IMAGE_BASE=alpine RESTY_IMAGE_TAG=1 KONG_PACKAGE_NAME=${PWD##*/} KONG_VERSION=${TRAVIS_TAG}
      if: tag IS present AND tag ~= ^[0-9]+\.
    - script:
      - make setup-kong-build-tools
      - pushd ../kong-build-tools && make setup-ci && popd
      - make release
      env: PACKAGE_TYPE=rpm RESTY_IMAGE_BASE=rhel RESTY_IMAGE_TAG=6 KONG_PACKAGE_NAME=${PWD##*/} KONG_VERSION=${TRAVIS_TAG}
      if: tag IS present AND tag ~= ^[0-9]+\.
    - script:
      - make setup-kong-build-tools
      - pushd ../kong-build-tools && make setup-ci && popd
      - make release
      env: PACKAGE_TYPE=rpm RESTY_IMAGE_BASE=rhel RESTY_IMAGE_TAG=7 KONG_PACKAGE_NAME=${PWD##*/} KONG_VERSION=${TRAVIS_TAG}
      if: tag IS present AND tag ~= ^[0-9]+\.
    - script:
      - make setup-kong-build-tools
      - pushd ../kong-build-tools && make setup-ci && popd
      - make release
      env: PACKAGE_TYPE=rpm RESTY_IMAGE_BASE=amazonlinux RESTY_IMAGE_TAG=1 KONG_PACKAGE_NAME=${PWD##*/} KONG_VERSION=${TRAVIS_TAG}
      if: tag IS present AND tag ~= ^[0-9]+\.
script:
  - .ci/run_tests.sh
