<section class="faq-section">
  <div class="container">
    <div class="row">
      <div class="four columns">
        <h4>Getting Started</h4>

        <p>Here are some useful resources to help you to learn how to use kong and get the most of it:</p>
        <ul>
          <li><a href="#">Read the Documentation</a></li>
          <li><a href="#">Watch the Screencasts</a></li>
          <li><a href="#">Follow our Tutorials</a></li>
        </ul>
      </div>
      <div class="four columns">
        <h4>Going to Production</h4>

        <p>Kong is easy to scale from development to production. Here are a few resources you might be interrested in:</p>
        <ul>
          <li><a href="#">Overvirew</a></li>
          <li><a href="#">Scaling in AWS</a></li>
          <li><a href="#">Multi-region and multi-datacenter</a></li>
        </ul>
      </div>
      <div class="four columns">
        <h4>Need Help?</h4>

        <p>For support contact us:</p>
        <ul>
          <li><a href="#">Ping Us in IRC:Kong</a></li>
          <li><a href="#">Open an Issue in Github</a></li>
        </ul>
        <br/>

        <p>Enterprise support: <a href="mailto:enterprise@getkong.org">enterprise@getkong.org</a></p>
      </div>
    </div>
  </div>
</section>