<footer class="mashape-footer mashape-footer-theme-light">
  <div class="mashape-footer-bar">
    <div class="container">
      <ul class="mashape-footer-social">
        <li><a href="https://plus.google.com/+Mashape" class="mf-ico-google">Google+</a></li>
        <li><a href="https://www.facebook.com/Mashape" class="mf-ico-facebook">Facebook</a></li>
        <li><a href="https://twitter.com/mashape" class="mf-ico-twitter">Twitter</a></li>
        <li><a href="https://github.com/mashape" class="mf-ico-github">GitHub</a></li>
      </ul>

      <span>&copy; <strong>2015</strong>, <a href="https://mashape.com">Mashape</a></span>
      <span class="mashape-footer-separator"></span>
      <a href="/license">License</a>
      <a href="/terms">Terms</a>
      <a href="/privacy">Privacy</a>
    </div>
  </div>
</footer>
