<div class="navbar">
  <div class="container">
    <a href="/" class="navbar-brand"><img src="/assets/images/branding.svg" alt="Kong" width="83" height="24"></a>
    <button data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar" class="navbar-toggle">
      <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
    <nav id="navbar" class="navbar-nav">
      <ul>
        <li><a href="/docs">Documentation</a></li>
        <li><a href="/plugins">Plugins</a></li>
        <li><a href="/contribute">Contribute</a></li>
        <li><a href="/support">Support</a></li>
        <li>
          <div class="navbar-form"><a href="/download" class="button">Download</a></div>
        </li>
      </ul>
    </nav>
  </div>
</div>
