# servroot is typically the nginx/Kong workingdirectory when testing
servroot

# packed distribution format for LuaRocks
*.rock
# exclude Pongo shell history
.pongo/.ash_history
# exclude LuaCov statistics file
luacov.stats.out
# exclude LuaCov report
luacov.report.out

libexpat
