bootstrap.servers=kafka:9093
<!-- security.protocol=SSL -->

sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required \
    username="admin" \
    password="admin-secret";
security.protocol=SASL_SSL
sasl.mechanism=PLAIN

ssl.truststore.location=/etc/kafka/secrets/truststore/kafka.truststore.jks
ssl.truststore.password=confluent
ssl.keystore.location=/etc/kafka/secrets/keystore/kafka.keystore.jks
ssl.keystore.password=confluent
ssl.key.password=confluent