---
title: Download
sitemap: true
header_title: Download Kong
header_icon: /assets/images/icons/icn-download.svg
---

<div class="page page-download">

  {% include header.html %}

  <section class="content-section">
    <div class="container">
      <div class="select-download-method">
        <h2>Select your preferred method:</h2>
        <p>Latest Version: 0.0.1 Beta (<a href="{{site.repo}}/blob/master/CHANGELOG.md">see log history</a>)</p>
      </div>

      <div class="tab-list-wrap">
        <ul class="tab-list row">
          <li class="active"><a href="#zip">.zip / tar.gz</a></li>
          <li><a href="#centos">CentOS</a></li>
          <li><a href="#debian">Debian</a></li>
          <li><a href="#osx">Mac OS X</a></li>
          <li><a href="#docker">Docker</a></li>
        </ul>
      </div>

      <div class="content">
        <div class="tab-content">
          <div class="tab-pane active" id="zip">
            {% markdown pages/download/zip.md %}
          </div>
          <div class="tab-pane" id="centos">
            {% markdown pages/download/centos.md %}
          </div>
          <div class="tab-pane" id="debian">
            {% markdown pages/download/debian.md %}
          </div>
          <div class="tab-pane" id="osx">
            {% markdown pages/download/osx.md %}
          </div>
          <div class="tab-pane" id="docker">
            {% markdown pages/download/docker.md %}
          </div>
          Something went wrong? <a href="/docs">Check out the Docs</a>
        </div>
      </div>
    </div>
  </section>

  {% include faq.html %}

  <section class="subscribe-section">
    <div class="container">
      <h2>Get Kong Updates in your Inbox!</h2>

      <div class="form-message success-message">Thank you!</div>
      <div class="form-message error-message">Oops, something went wrong. Please try again later.</div>
      <form action="/" class="subscribe-form">
        <div class="row">
          <div class="five columns">
            <input type="text" name="fullname" placeholder="Full Name" />
          </div>
          <div class="five columns">
            <input type="email" name="email" placeholder="Email" required />
          </div>
          <div class="two columns">
            <button class="button button-large button-primary" type="submit">Sign Up</button>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
