name: Build & Test

on: [push, pull_request]

jobs:
  build:
    name: Build dependencies
    runs-on: ubuntu-18.04

    env:
      DOWNLOAD_ROOT: $HOME/download-root

    steps:
    - name: Set environment variables
      run: |
          echo "::set-env name=INSTALL_ROOT::$HOME/install-root"
          echo "::set-env name=DOWNLOAD_ROOT::$HOME/download-root"
          echo "::set-env name=LD_LIBRARY_PATH::$INSTALL_ROOT/openssl/lib:$LD_LIBRARY_PATH"
    - name: Checkout Kong source code
      uses: actions/checkout@v2

    - name: Lookup build cache
      uses: actions/cache@v1
      id: cache-deps
      with:
        path: ${{ env.INSTALL_ROOT }}
        key: ${{ hashFiles('.ci/setup_env_github.sh') }}-${{ hashFiles('.github/workflows/build_and_test.yml') }}-${{ hashFiles('.requirements') }}

    - name: Checkout kong-build-tools
      if: steps.cache-deps.outputs.cache-hit != 'true'
      uses: actions/checkout@v2
      with:
        repository: Kong/kong-build-tools
        path: kong-build-tools
        ref: next

    - name: Checkout go-pluginserver
      if: steps.cache-deps.outputs.cache-hit != 'true'
      uses: actions/checkout@v2
      with:
        repository: Kong/go-pluginserver
        path: go-pluginserver

    - name: Add to Path
      if: steps.cache-deps.outputs.cache-hit != 'true'
      run: echo "::add-path::$INSTALL_ROOT/openssl/bin:$INSTALL_ROOT/openresty/nginx/sbin:$INSTALL_ROOT/openresty/bin:$INSTALL_ROOT/luarocks/bin:$GITHUB_WORKSPACE/kong-build-tools/openresty-build-tools"

    - name: Install packages
      if: steps.cache-deps.outputs.cache-hit != 'true'
      run: sudo apt update && sudo apt install libyaml-dev

    - name: Build Kong dependencies
      if: steps.cache-deps.outputs.cache-hit != 'true'
      run: |
          source .ci/setup_env_github.sh
          make dev

  lint-and-unit-tests:
    name: Lint & Unit tests
    runs-on: ubuntu-18.04
    needs: build

    env:
      KONG_TEST_PG_DATABASE: kong
      KONG_TEST_PG_USER: postgres

    services:
      postgres:
        image: postgres:10
        env:
          POSTGRES_USER: postgres
          POSTGRES_DB: kong
          POSTGRES_HOST_AUTH_METHOD: trust
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 5s --health-timeout 5s --health-retries 8

    steps:
    - name: Set environment variables
      run: |
          echo "::set-env name=INSTALL_ROOT::$HOME/install-root"
          echo "::set-env name=DOWNLOAD_ROOT::$HOME/download-root"
          echo "::set-env name=LD_LIBRARY_PATH::$HOME/install-root/openssl/lib:$LD_LIBRARY_PATH"

    - name: Checkout Kong source code
      uses: actions/checkout@v2

    - name: Lookup build cache
      uses: actions/cache@v1
      id: cache-deps
      with:
        path: ${{ env.INSTALL_ROOT }}
        key: ${{ hashFiles('.ci/setup_env_github.sh') }}-${{ hashFiles('.github/workflows/build_and_test.yml') }}-${{ hashFiles('.requirements') }}

    - name: Add to Path
      run: echo "::add-path::$INSTALL_ROOT/openssl/bin:$INSTALL_ROOT/openresty/nginx/sbin:$INSTALL_ROOT/openresty/bin:$INSTALL_ROOT/luarocks/bin"

    - name: Lint Lua code
      run: |
          eval `luarocks path`
          luacheck -q .

    - name: Check admin API documentation
      run: |
          eval `luarocks path`
          scripts/autodoc-admin-api

    - name: Unit tests
      run: |
          eval `luarocks path`
          bin/busted -v -o gtest spec/01-unit

  integration-tests-postgres:
    name: Postgres ${{ matrix.suite }} - ${{ matrix.split }} tests
    runs-on: ubuntu-18.04
    needs: lint-and-unit-tests

    strategy:
      matrix:
        suite: [integration, plugins]
        split: [all, first (01-04), second (>= 05)]
        exclude:
          - suite: plugins
            split: first (01-04)
          - suite: plugins
            split: second (>= 05)
          - suite: integration
            split: all

    env:
      KONG_TEST_PG_DATABASE: kong
      KONG_TEST_PG_USER: postgres
      KONG_TEST_DATABASE: postgres
      TEST_SUITE: ${{ matrix.suite }}
      TEST_SPLIT: ${{ matrix.split }}

    services:
      postgres:
        image: postgres:10
        env:
          POSTGRES_USER: postgres
          POSTGRES_DB: kong
          POSTGRES_HOST_AUTH_METHOD: trust
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 5s --health-timeout 5s --health-retries 8

      grpcbin:
        image: moul/grpcbin
        ports:
          - 15002:9000
          - 15003:9001

      redis:
        image: redis
        ports:
          - 6379:6379
        options: --entrypoint redis-server

    steps:
    - name: Set environment variables
      run: |
          echo "::set-env name=INSTALL_ROOT::$HOME/install-root"
          echo "::set-env name=DOWNLOAD_ROOT::$HOME/download-root"
          echo "::set-env name=LD_LIBRARY_PATH::$HOME/install-root/openssl/lib:$LD_LIBRARY_PATH"

    - name: Checkout Kong source code
      uses: actions/checkout@v2

    - name: Lookup build cache
      uses: actions/cache@v1
      id: cache-deps
      with:
        path: ${{ env.INSTALL_ROOT }}
        key: ${{ hashFiles('.ci/setup_env_github.sh') }}-${{ hashFiles('.github/workflows/build_and_test.yml') }}-${{ hashFiles('.requirements') }}

    - name: Add to Path
      run: echo "::add-path::$INSTALL_ROOT/openssl/bin:$INSTALL_ROOT/openresty/nginx/sbin:$INSTALL_ROOT/openresty/bin:$INSTALL_ROOT/luarocks/bin:$INSTALL_ROOT/go-pluginserver"

    - name: Add gRPC test host names
      run: |
          echo "127.0.0.1 grpcs_1.test" | sudo tee -a /etc/hosts
          echo "127.0.0.1 grpcs_2.test" | sudo tee -a /etc/hosts

    - name: Tests
      run: |
          eval `luarocks path`
          make dev
          .ci/run_tests.sh

  integration-tests-dbless:
    name: DB-less integration tests
    runs-on: ubuntu-18.04
    needs: lint-and-unit-tests

    env:
      KONG_TEST_PG_DATABASE: kong
      KONG_TEST_PG_USER: postgres
      KONG_TEST_DATABASE: 'off'
      TEST_SUITE: dbless

    services:
      grpcbin:
        image: moul/grpcbin
        ports:
          - 15002:9000
          - 15003:9001

    steps:
    - name: Set environment variables
      run: |
          echo "::set-env name=INSTALL_ROOT::$HOME/install-root"
          echo "::set-env name=DOWNLOAD_ROOT::$HOME/download-root"
          echo "::set-env name=LD_LIBRARY_PATH::$HOME/install-root/openssl/lib:$LD_LIBRARY_PATH"

    - name: Checkout Kong source code
      uses: actions/checkout@v2

    - name: Lookup build cache
      uses: actions/cache@v1
      id: cache-deps
      with:
        path: ${{ env.INSTALL_ROOT }}
        key: ${{ hashFiles('.ci/setup_env_github.sh') }}-${{ hashFiles('.github/workflows/build_and_test.yml') }}-${{ hashFiles('.requirements') }}

    - name: Add to Path
      run: echo "::add-path::$INSTALL_ROOT/openssl/bin:$INSTALL_ROOT/openresty/nginx/sbin:$INSTALL_ROOT/openresty/bin:$INSTALL_ROOT/luarocks/bin:$INSTALL_ROOT/go-pluginserver"

    - name: Add gRPC test host names
      run: |
          echo "127.0.0.1 grpcs_1.test" | sudo tee -a /etc/hosts
          echo "127.0.0.1 grpcs_2.test" | sudo tee -a /etc/hosts

    - name: Tests
      run: |
          eval `luarocks path`
          make dev
          .ci/run_tests.sh

  integration-tests-cassandra:
    name: C* ${{ matrix.cassandra_version }} ${{ matrix.suite }} - ${{ matrix.split }} tests
    runs-on: ubuntu-18.04
    needs: lint-and-unit-tests

    strategy:
      matrix:
        suite: [integration, plugins]
        cassandra_version: [2, 3]
        split: [all, first (01-04), second (>= 05)]
        exclude:
          - suite: plugins
            split: first (01-04)
          - suite: plugins
            split: second (>= 05)
          - suite: integration
            split: all

    env:
      KONG_TEST_DATABASE: cassandra
      TEST_SUITE: ${{ matrix.suite }}
      TEST_SPLIT: ${{ matrix.split }}

    services:
      cassandra:
        image: cassandra:${{ matrix.cassandra_version }}
        ports:
          - 7199:7199
          - 7000:7000
          - 9160:9160
          - 9042:9042
        options: --health-cmd "cqlsh -e 'describe cluster'" --health-interval 5s --health-timeout 5s --health-retries 8

      grpcbin:
        image: moul/grpcbin
        ports:
          - 15002:9000
          - 15003:9001

      redis:
        image: redis
        ports:
          - 6379:6379
        options: --entrypoint redis-server

    steps:
    - name: Set environment variables
      run: |
          echo "::set-env name=INSTALL_ROOT::$HOME/install-root"
          echo "::set-env name=DOWNLOAD_ROOT::$HOME/download-root"
          echo "::set-env name=LD_LIBRARY_PATH::$HOME/install-root/openssl/lib:$LD_LIBRARY_PATH"

    - name: Checkout Kong source code
      uses: actions/checkout@v2

    - name: Lookup build cache
      uses: actions/cache@v1
      id: cache-deps
      with:
        path: ${{ env.INSTALL_ROOT }}
        key: ${{ hashFiles('.ci/setup_env_github.sh') }}-${{ hashFiles('.github/workflows/build_and_test.yml') }}-${{ hashFiles('.requirements') }}

    - name: Add to Path
      run: echo "::add-path::$INSTALL_ROOT/openssl/bin:$INSTALL_ROOT/openresty/nginx/sbin:$INSTALL_ROOT/openresty/bin:$INSTALL_ROOT/luarocks/bin:$INSTALL_ROOT/go-pluginserver"

    - name: Add gRPC test host names
      run: |
          echo "127.0.0.1 grpcs_1.test" | sudo tee -a /etc/hosts
          echo "127.0.0.1 grpcs_2.test" | sudo tee -a /etc/hosts

    - name: Tests
      run: |
          eval `luarocks path`
          make dev
          .ci/run_tests.sh

  pdk-tests:
    name: PDK tests
    runs-on: ubuntu-18.04
    needs: lint-and-unit-tests

    env:
      TEST_SUITE: pdk

    steps:
    - name: Set environment variables
      run: |
          echo "::set-env name=INSTALL_ROOT::$HOME/install-root"
          echo "::set-env name=DOWNLOAD_ROOT::$HOME/download-root"
          echo "::set-env name=LD_LIBRARY_PATH::$HOME/install-root/openssl/lib:$LD_LIBRARY_PATH"

    - name: Checkout Kong source code
      uses: actions/checkout@v2

    - name: Lookup build cache
      uses: actions/cache@v1
      id: cache-deps
      with:
        path: ${{ env.INSTALL_ROOT }}
        key: ${{ hashFiles('.ci/setup_env_github.sh') }}-${{ hashFiles('.github/workflows/build_and_test.yml') }}-${{ hashFiles('.requirements') }}

    - name: Add to Path
      run: echo "::add-path::$INSTALL_ROOT/openssl/bin:$INSTALL_ROOT/openresty/nginx/sbin:$INSTALL_ROOT/openresty/bin:$INSTALL_ROOT/luarocks/bin:$INSTALL_ROOT/go-pluginserver:$DOWNLOAD_ROOT/cpanm"

    - name: Install Test::Nginx
      run: |
          CPAN_DOWNLOAD=$DOWNLOAD_ROOT/cpanm
          mkdir -p $CPAN_DOWNLOAD
          curl -o $CPAN_DOWNLOAD/cpanm https://cpanmin.us
          chmod +x $CPAN_DOWNLOAD/cpanm

          echo "Installing CPAN dependencies..."
          cpanm --notest --local-lib=$HOME/perl5 local::lib && eval $(perl -I $HOME/perl5/lib/perl5/ -Mlocal::lib)
          cpanm --notest Test::Nginx

    - name: Tests
      run: |
          eval `luarocks path`
          make dev

          eval $(perl -I $HOME/perl5/lib/perl5/ -Mlocal::lib)
          .ci/run_tests.sh
