name: Changelog

on:
  pull_request:
    types: [ "opened", "synchronize", "labeled", "unlabeled" ]
    paths:
      - 'kong/**'
      - '**.rockspec'
      - '.requirements'

jobs:
  require-changelog:
    name: Is changelog required?
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Retrives changed files in CHANGELOG/unreleased/**/*.yaml
        id: changelog-check
        uses: tj-actions/changed-files@246636f5fa148b5ad8e65ca4c57b18af3123e5f6 # v37
        with:
          files: 'CHANGELOG/unreleased/**/*.yaml'

      - name: Requires a changelog file if 'skip-changelog' label is not added
        if: ${{ !contains(github.event.*.labels.*.name, 'skip-changelog') }}
        run: >
          if [ "${{ steps.changelog-check.outputs.added_files_count }}" = "0" ]; then
            echo "PR should contain a changelog file"
            exit 1
          fi

  validate-changelog:
    name: Validate changelog
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Validate changelogs
        uses: thiagodnf/yaml-schema-checker@58b96413951ebe86a396275c48620b8435439694 # v0.0.10
        with:
          jsonSchemaFile: CHANGELOG/schema.json
          yamlFiles: |
            CHANGELOG/unreleased/*/*.yaml
