name: Changelog

on:
  pull_request:
    types: [ "opened", "synchronize", "labeled", "unlabeled" ]
    paths:
      - 'kong/**'
      - 'plugins-ee/**'
      - '**.rockspec'
      - '.requirements'
      - '!plugins-ee/**/spec/**'

jobs:
  require-changelog:
    name: Is changelog required?
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - name: Retrives changed files in CHANGELOG/unreleased/**/*.yaml
        id: changelog-check
        uses: tj-actions/changed-files@5817a9efb0d7cc34b917d8146ea10b9f32044968 # v37
        with:
          files: 'CHANGELOG/unreleased/**/*.yaml'

      - name: Requires a changelog file if 'skip-changelog' label is not added
        if: ${{ !contains(github.event.*.labels.*.name, 'skip-changelog') }}
        run: >
          if [ "${{ steps.changelog-check.outputs.added_files_count }}" = "0" ]; then
            echo "PR should contain a changelog file"
            exit 1
          fi

  validate-changelog:
    name: Validate changelog
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Validate changelogs
        uses: thiagodnf/yaml-schema-checker@228a5be72029114e3cd6301e0aaeef6b557fa033 # v0.0.8
        with:
          jsonSchemaFile: CHANGELOG/schema.json
          yamlFiles: |
            CHANGELOG/unreleased/*/*.yaml
