name: "Pull Request Labeler v2"
on:
- pull_request

permissions: read-all

jobs:
  labeler:
    if: ${{ !github.event.pull_request.head.repo.fork }}
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/labeler@v5
