name: Notify Slack user on “Package & Release” failure

on:
  workflow_run:
    workflows: ["Package & Release"]
    types:
      - completed

jobs:
  notify_failure:
    runs-on: ubuntu-latest-kong
    if: ${{ github.event.workflow_run.conclusion == 'failure' }}
    steps:
    - name: Generate Slack Payload
      id: generate_payload
      uses: actions/github-script@v4
      with:
        script: |
          const repo_name = "${{ github.event.workflow_run.repository.full_name }}";
          const run_id = ${{ github.event.workflow_run.id }};
          const run_url = `https://github.com/${repo_name}/actions/runs/${run_id}`;
          const workflow_name = "${{ github.event.workflow_run.name }}"
          const branch_name = "${{ github.event.workflow_run.head_branch }}"
          const payload = {
            text: `Workflow “${workflow_name}” failed in repo: “${repo_name}”, branch: "${branch_name}". Run URL: ${run_url}. Please check it.`,
            channel: process.env.SLACK_CHANNEL,
            icon_emoji: ":onfire:",
          };
          console.log(`::set-output name=payload::${JSON.stringify(payload)}`);
      env:
        SLACK_CHANNEL: gateway-notifications

    - name: "Send Slack Message"
      uses: slackapi/slack-github-action@v1.23.0
      with:
        payload: ${{ steps.generate_payload.outputs.payload }}
      env:
        SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
