name: Upgrade Tests

on:
  pull_request:
    paths:
    - 'scripts/upgrade-tests/**'
    - 'kong/db/migrations/**'
    - 'spec/05-migration/**'
    - 'kong/enterprise_edition/db/migrations/**'
    - '.github/workflows/upgrade-tests.yml'
    - 'kong/plugins/*/migrations/**'
    - 'plugins-ee/**/migrations/**'
  push:
    paths-ignore:
    # ignore markdown files (CHANGELOG.md, README.md, etc.)
    - '**/*.md'
    branches:
    - master
    - release/*
    - test-please/*
  workflow_dispatch:
# cancel previous runs if new commits are pushed to the PR, but run for each commit on master
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  upgrade-test:
    name: Run migration tests
    runs-on: ubuntu-22.04

    steps:
      - name: Install Docker
        run: |
          sudo apt-get -y update
          sudo apt-get -y install ca-certificates curl gnupg lsb-release
          sudo mkdir -p /etc/apt/keyrings
          curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo gpg --dearmor -o /etc/apt/keyrings/docker.gpg
          echo "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable" | sudo tee /etc/apt/sources.list.d/docker.list > /dev/null
          sudo apt-get update
          sudo apt-get install docker-ce docker-ce-cli containerd.io docker-compose-plugin

      - name: Install prerequisites
        run: |
          sudo apt-get -y install jq

      - name: Clone Kong source code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run upgrade tests
        run: |
          bash ./scripts/upgrade-tests/test-upgrade-path.sh
